<h1>Vet, zie hieronder alle tijds</h1>

<%= link_to 'Nieuwe aanmaken', new_tijd_path %><br /><br /><br />
<section>
	<% @tijd.each do |tijd| %>
		<a href="<%= tijd.url %>">
			<article>
				<header>
					<h1><%= tijd.title %></h1><%= link_to 'Destroy', tijd_path(tijd),
				       								method: :delete,
				              				data: { confirm: 'Weet je dat echt heel zeker?' } %> <%= link_to 'Aanpassen', edit_tijd_path(tijd) %>
					<div class="clearfix"></div>
					<br />
				</header>
				<content>
					<%= tijd.description %><br />
					<%= image_tag(tijd.portfolio_image_url(:thumb)) if tijd.portfolio_image? %>
					<% tijd.categories.each do |category| %>
						<%= category.title %>
					<% end %>
				</content>
			</article>
		</a>
	<% end %>
</section>