<h2 class="h2-title">Wasmachine reserveren</h2>

<%= form_for @tijd, url: {action:"create"}, multipart: true do |f| %>

	<%= label_tag(:machines, "Machine:") %><br />
	<%= f.collection_select :machines, Machine.all, :machine_id, :name %>

	<br /><br />

	<%= label_tag(:end_datetime, "Duur van de wasbeurt (in minuten):") %><br />

	<form action="#">
		<p class="range-field">
			<%= f.number_field :end_datetime, :id => 'test5', :max => "100", :min => "0", :type => "range" %>
		</p>
	</form>


	<br /><br />

	<div class="row">
		<%= link_to "Terug", root_path, :class => 'waves-effect waves-light btn-large blue-grey lighten-5' %>
		<%= f.submit "Reserveren", :class => 'waves-effect waves-light btn-large light-blue darken-4'%>
	</div>

<% end %>
