<h1>Items#new</h1>

<%= form_for @tijd, url: {action:"create"}, multipart: true do |f| %>

	<%= label_tag(:machines, "Machine:") %><br />
	<%= f.collection_select :machines, Machine.all, :id, :name %>

	<br /><br />

	<%= label_tag(:end_datetime, "Duur van je wasbeurt: (in minuten)") %><br />
	<%= f.time_field :end_datetime %>

	<br /><br />

	<%= f.submit "Reserveren" %>

<% end %>