<h1>Items#new</h1>
<p>Find me in app/views/items/new.html.erb</p>

<%= form_for @item, url: {action:"create"}, multipart: true do |f| %>
	<%= label_tag(:machine, "Machine:") %><br />
	<%= f.text_field :machine %>
	<br /><br />

	<%= label_tag(:type, "Type:") %><br />
	<%= f.text_area :type %>
	<br /><br />

	<%= label_tag(:datetime, "URL:") %><br />
	<%= f.datetime_field :datetime %>
	<br /><br />
	
	<%= f.submit "Reserveren" %>

<% end %>